[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
supabase = "==2.4.3"
python-dotenv = "==1.0.0"
flask = "==3.0.0"

[dev-packages]

[requires]
python_version = "3.11"
